<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Company Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto">
                {% if user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger ml-2">Logout</button>
                </form>
                {% endif %}
            </form>
        </div>
    </nav>
    
    <div class="container">
        <h2>Add Product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="id_cost_price">Cost Price</label>
                {{ form.cost_price }}
            </div>
            <div class="form-group">
                <label for="id_sales_price">Sales Price</label>
                {{ form.sales_price }}
            </div>
            <div class="form-group">
                <label for="id_discount">Discount</label>
                {{ form.discount }}
            </div>
            <div class="form-group">
                <label for="id_image">Image</label>
                {{ form.image }}
            </div>
            <button type="submit" class="btn btn-primary">Save Product</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies (Optional) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
